<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row text-center text-xs-center text-sm-left text-md-left">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h4>Quick links</h4>
				<ul class="list-unstyled quick-links">
					<li><a href="https://www.nasa.gov/"><i class="fa fa-angle-double-right"></i>NASA</a></li>
					<li><a href="https://www.jpl.nasa.gov/missions/mars-exploration-rover-spirit-mer-spirit"><i class="fa fa-angle-double-right"></i>Spirit Rover</a></li>
					<li><a href="https://mars.nasa.gov/mer/"><i class="fa fa-angle-double-right"></i>Opportunity Rover</a></li>
					<li><a href="https://mars.nasa.gov/msl/home/"><i class="fa fa-angle-double-right"></i>Mars Exploration Program</a></li>
					<li><a href="https://mars.nasa.gov/mars2020/"><i class="fa fa-angle-double-right"></i>Mars 2020</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h4>Quick links</h4>
				<ul class="list-unstyled quick-links">
					<li><a href="https://mars.nasa.gov/#red_planet/0"><i class="fa fa-angle-double-right"></i>The Red Planet</a></li>
					<li><a href="https://mars.nasa.gov/all-about-mars/facts/"><i class="fa fa-angle-double-right"></i>Mars Facts</a></li>
					<li><a href="https://mars.nasa.gov/all-about-mars/moons/summary/"><i class="fa fa-angle-double-right"></i>Martian Moons</a></li>
					<li><a href="https://mars.nasa.gov/explore/mars-now/"><i class="fa fa-angle-double-right"></i>Mars Now</a></li>
					<li><a href="https://mars.nasa.gov/participate/send-your-name/future"><i class="fa fa-angle-double-right"></i>Send Your Name to Mars</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<h4>Quick links</h4>
				<ul class="list-unstyled quick-links">
					<li><a href="https://mars.nasa.gov/insight/"><i class="fa fa-angle-double-right"></i>Mars Insight Mission</a></li>
					<li><a href="https://mars.nasa.gov/maven/"><i class="fa fa-angle-double-right"></i>MAVEN Mission</a></li>
					<li><a href="https://mars.nasa.gov/mro/"><i class="fa fa-angle-double-right"></i>MRO Mission</a></li>
					<li><a href="https://mars.nasa.gov/odyssey/"><i class="fa fa-angle-double-right"></i>Odyssey Mission</a></li>
					<li><a href="https://www.isro.gov.in/pslv-c25-mars-orbiter-mission#block-md-megamenu-1" ><i class="fa fa-angle-double-right"></i>ISRO MOM Mission</a></li>
				</ul>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
				<ul class="list-unstyled list-inline social text-center">
					<li class="list-inline-item"><a href="https://www.facebook.com/NASA/"><i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/NASA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/nasa/"><i class="fa fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="https://www.nasa.gov/content/submit-a-question-for-nasa" target="_blank"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
			<hr>
		</div>	
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
				<p><u><a href="#">Anonymous Tech Solutions</a></u></p>
				<p class="h6">© All Rights Reserved 2021</p>
			</div>
			<hr>
		</div>	
	</div>
</footer>
<!-- ./Footer -->