<!-- <div class="bg-dark m-5">
    <table class="table text-info text-center" *ngFor="let data of camlist.data">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ROVER ID</th>
                <th>FULL NAME</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>
                    <h3 class="text-white">{{cameras.id}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{cameras.name}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{cameras.rover_id}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{cameras.full_name}}</h3>
                </td>
            </tr>
        </tbody>
    </table>
  </div> -->

<div class="container">
    <div class="row row-cols-sm-2 row-cols-1">
        <div class="col" *ngFor="let obj of rovers">
          <div class="card bg-dark text-white m-5">
            <h3 class="text-center">{{obj.name}} <span>- {{obj.id}}</span></h3>
            <button class="btn btn-warning m-3 d-block mx-auto fw-bold" (click)="getCameraFullData(obj.id)">
                Click here to get Rover Cameras
            </button>
            <button class="btn btn-warning m-3 d-block mx-auto fw-bold" (click)="getPhotosFullData(obj.id)">
                Click here to get Rover Photos
            </button>
          </div>
        </div>
    </div>
</div>