<div class="container">
    <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-1">
        <div class="col" *ngFor="let obj of rovers">
          <div class="card m-5 opacity-100">
            <h3 class="text-center">{{obj.name}} <span>- {{obj.id}}</span></h3>
            <button class="btn third m-3 d-block mx-auto fw-bold" (click)="getCameraFullData(obj.id)">
                Click here to get Rover Cameras
            </button>
            <button class="btn third m-3 d-block mx-auto fw-bold" (click)="getPhotosFullData(obj.id)">
                Click here to get Rover Photos
            </button>
          </div>
        </div>
    </div>
</div>