<!-- <div class="text-center text-success">  
      <table class="table text-info text-center bg-dark">
        <thead>
            <tr>
                <th>NAME</th>
                <th>LANDING DATE</th>
                <th>LAUNCH DATE</th>
                <th>STATUS</th>
                <th>TOTAL PHOTOS</th>
                <th>CAMERA's</th>
                <th>PHOTO's</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>
                  <h3 class="text-white">{{dataObj.name}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{dataObj.launch_date}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{dataObj.landing_date}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{dataObj.status}}</h3>
                </td>
                <td>
                    <h3 class="text-white">{{dataObj.total_photos}}</h3>
                </td>
                <td>
                    <p>
                        {{display.id}} <br>
                        {{display.name}} <br>
                        {{display.rover_id}} <br>
                        {{display.full_name}} <br>
                    </p>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger">Click here!!</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <div class="container">
    <p>
        {{display.id}} <br>
        {{display.name}} <br>
        {{display.rover_id}} <br>
        {{display.full_name}} <br>
    </p>
    <img src={{display.image}} alt="">
    
</div> -->