.parent1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
     
  
  }
  .box{
    position: relative;
    width: 300px;
    height:300px;
    transform-style: preserve-3d;
    animation: animate 35s linear infinite;
  }
  
  @keyframes animate {
    0%{
      transform: perspective(1000px) rotateY(0deg);
    }
    100%{
      transform: perspective(1000px) rotateY(360deg);
    }
    
  }
  .box span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(450px);
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#000);
  
  }
  .box span img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:auto;
    object-fit:cover;
  
  }
  
  @media screen and  (max-width:900px) 
   {
    span img{
      width: 100px;
      height:100px;
    }
    .parent1{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      
      
    
    }
    .box{
      position: relative;
      width: 200px;
      height: 250px;
      transform-style: preserve-3d;
      animation: animate 35s linear infinite;
    }
    
    @keyframes animate {
      0%{
        transform: perspective(1000px) rotateY(0deg);
      }
      100%{
        transform: perspective(1000px) rotateY(360deg);
      }
      
    }
    .box span{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:auto;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
      -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#000);
    
    }
    .box span img{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:auto;
      object-fit: cover;
    
    }
  }
  @media screen and  (max-width:700px) 
   {
    
    .parent1{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      
      
    
    }
    .box{
      position: relative;
      width: 180px;
      height: 200px;
      transform-style: preserve-3d;
      animation: animate 35s linear infinite;
    }
    
    @keyframes animate {
      0%{
        transform: perspective(1000px) rotateY(0deg);
      }
      100%{
        transform: perspective(1000px) rotateY(360deg);
      }
      
    }
    .box span{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:auto;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
      -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#000);
    
    }
    .box span img{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:auto;
      object-fit: cover;
    
    }
  }
  
  @media screen and  (max-width:580px) 
   {
    
    .parent1{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      
      
    
    }
    .box{
      position: relative;
      width: 120px;
      height: 150px;
      transform-style: preserve-3d;
      animation: animate 35s linear infinite;
    }
    
    @keyframes animate {
      0%{
        transform: perspective(1000px) rotateY(0deg);
      }
      100%{
        transform: perspective(1000px) rotateY(360deg);
      }
      
    }
    .box span{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:auto;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(210px);
      -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#000);
    
    }
    .box span img{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:auto;
      object-fit: cover;
    
    }
  }
  @media screen  and (max-width:990px){
    .card1 img{
      width:100%;
      height: 300px;
  
    }
  
    .card1 .card-body .card-text{
      font-size: 20px;
    }
    
  }
  
  @media screen  and (max-width:780px){
    .card1 img{
      width:100%;
      height:auto;
  
    }
  
    
  }
  ul{
    padding-left: 0px;
  }
  
  @media screen  and (max-width:688px){
    .parent1 .child1  h5 ul li{
      font-size: 10px;
      text-align: left;
     
    }
    
  }
  