<div class="bg-dark">
    <table class="table text-info text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ROVER NAME</th>
                <th>FULL NAME</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let cam of adminCameras">
                <td>
               <button class="btn btn-sm btn-danger"> {{cam.id}}</button></td>
               <td>{{cam.name}}</td>
               <td>{{cam.rover_name}}</td>
               <td>{{cam.full_name}}</td>
               <td><button class="btn btn-warning btn-sm p-1 m-1"><i
                class="fas fa-trash-alt text-danger" (click)="deleteCamera(cam)"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
