<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-dark">
    <div class="col" *ngFor="let photos of imglist.photos;let ind=index">
        <div class="card text-center p-3 m-3">
            <img src="{{photos.img_src}}" class="card-img-top w-100" alt="...">
            <h5 class="fw-bold">PHOTO ID : {{photos.id}}</h5>
            <h5 class="fw-bold">SOL : {{photos.sol}}</h5>
            <h5 class="fw-bold">EARTH DATE : {{photos.earth_date}}</h5>
            <p>Expand below to know from which Camera the photo was taken.</p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item" >
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#acr' + ind">
                    {{photos.camera.name}}
                  </button>
                </h2>
                <div [attr.id]="'acr' + ind" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <h4>CAMERA FULL NAME : {{photos.camera.full_name}}</h4>
                    <h4>CAMERA ID : {{photos.camera.id}}</h4>
                    <h4>CAMERA ROVER ID : {{photos.camera.rover_id}}</h4>
                  </div>
                </div>
              </div>
          </div>
            <!-- <button class="btn btn-warning d-block mx-auto" (click)="getDetailedPhotosData(photos.id)"> Get Photo Camera Details!!</button> -->
        </div>
    </div>
 </div>