<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-2 mb-5">    
    <div class="col" *ngFor="let dataObj of photos" >        
        <div class="card h-100 shadow" style="width: 20rem;">            
            <img src={{dataObj.img_src}} class="card-img-top w-100" height="55%" alt="...">              
            <div class="card-body">
                <button class="btn btn-md btn-danger"  (click)="onSelectId(dataObj.id)">{{dataObj.id}}</button>

                <h5 class="card-title" style="color: #173e9c;">Earth Date : {{dataObj.earth_date}}</h5>                              
                                  
                    <button href="#" class="btn btn-primary fw-bold" data-toggle="modal">                    
                        Rover                  
                    </button>                  
                    <button href="#" class="btn btn-primary fw-bold" data-toggle="modal">                    
                        Camera                  
                    </button>                
            </div>           
        </div>    
    </div>
</div> 
 -->

 <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-dark">
    <div class="col" *ngFor="let photos of imglist.photos">
        <div class="card">
            <img src="{{photos.img_src}}" alt="...">
            <p>{{photos.id}}</p>
            <p>{{photos.sol}}</p>
            <p>{{photos.earth_date}}</p>
            <button class="btn btn-warning d-block mx-auto" (click)="getDetailedPhotosData(photos.id)"> Get Photo Camera Details!!</button>
        </div>
    </div>
 </div>