
<div class="togglearea">
  <label for="toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>

<input type="checkbox" id="toggle">
<div class="navbar">
  <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
  <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
  <a class="nav-link " routerLink="rovers" routerLinkActive="active">Rovers</a>
  <a class="nav-link " routerLink="contactus" routerLinkActive="active">Contact Us</a>
</div>
      <div class="navbar">
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper">
         <ul>
            <li><a  routerLink="home" routerLinkActive="active">Home</a></li>
            
            <li><a  routerLink="about" routerLinkActive="active">About</a></li>

            <li><a  routerLink="rovers" routerLinkActive="active">Rovers</a></li>

            <li><a  routerLink="contactus" routerLinkActive="active">Contact Us</a></li>
         </ul>
      </div>
    </div>
      
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- nest footer component -->  
<app-footer class="mt-auto"></app-footer>