<div class="togglearea">
  <label for="toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>

<input type="checkbox" id="toggle">
<div class="navbar">
  <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fas fa-laptop-house"> Home </i></a>
  <a class="nav-link" routerLink="about" routerLinkActive="active"><i class="fas fa-info-circle"> About </i></a>
  <a class="nav-link " routerLink="rovers" routerLinkActive="active"><i class="fas fa-satellite-dish"> Rovers </i></a>
  <a class="nav-link " routerLink="contactus" routerLinkActive="active"><i class="fas fa-phone-square"> Contact Us </i></a>
  <a class="nav-link " routerLink="rateus" routerLinkActive="active"><i class="far fa-smile"> Rate Us </i></a>
  <a class="nav-link " routerLink="login" routerLinkActive="active"><i class="fas fa-user-lock"> Login </i></a>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- nest footer component -->  
<app-footer class="mt-auto"></app-footer>