.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 33%;
    left: 42%;
    height: 100px;
    width: 250px;
}
.btn{
    background-color: #ff5349;
    color: whitesmoke;
    border-radius: 0px;
    box-shadow: none;
    font-weight: bolder;
}
